# MATLAB temporary and mex files
*.m~
*.mex*
*.asv

# Frames and videos from simulations
/code/frames

# Plots from simulations
/code/plots

# LaTeX compilation files
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc

# LaTeX flashtalk pdf file
/flashtalk/beamer/flashtalk.pdf