# MATLAB temporary, mex and mat files
*.m~
*.mex*
*.asv
*.mat

# Frames and videos from simulations
/code/frames

# Plots from simulations
/code/plots

# LaTeX compilation files
*.aux
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.bbl
*.blg
*.bcf
*.xml

# LaTeX flashtalk pdf file
/flashtalk/beamer/flashtalk.pdf

# LaTeX report pdf file
/doc/latex/report.pdf